@charset UTF-8;



/*daqui p baixo é o popup do index*/

#body-anuncio{
	/*position: relative;*/
}

#link-oculto{
	display: none;
}
/*
div#popup{
	position: fixed;
	width: 800px;
	height: 450px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	background-color: white;
*/
/*
}
div#pop-video{
	position: fixed;
	width: 99%;
	height: 99%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;


}
*/
/*
#ico-close{
	z-index: 1001;
	text-align: center;
}

*/















